{% macro tabs() %}

<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Queridinhos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Feedbacks</button>
        </li>

    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">

            <!-- queridinhos -->
            <section class="queridinhos">
                <div class="container p-5">
                    <div class="row justify-content-center gap-5">
                        <div class="card col-md-12 col-lg-3 d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='images/logotipo.png')}}" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Limpeza de Pele</h5>
                                <p class="card-text">
                                    Remove impurezas, cravos e células mortas, melhorando a textura da pele e a deixando
                                    mais saudável.
                                </p>
                                <a href="#" class="btn btn-success">Agende já!</a>
                            </div>
                        </div>
                        <div class="card col-md-12 col-lg-3 d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='images/logotipo.png')}}" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Depilação a Laser</h5>
                                <p class="card-text">
                                    Método de longa duração que destrói o folículo do pelo, resultando em uma pele mais
                                    lisa e livre de pelos indesejados.
                                </p>
                                <a href="#" class="btn btn-success">Agende já!</a>
                            </div>
                        </div>
                        <div class="card col-md-12 col-lg-3 d-flex justify-content-center">
                            <img src="{{ url_for('static', filename='images/logotipo.png')}}" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Drenagem Linfática</h5>
                                <p class="card-text">
                                    Massagem que elimina toxinas e o excesso de líquidos, reduzindo inchaço e melhorando
                                    a circulação.
                                </p>
                                <a href="#" class="btn btn-success">Agende já!</a>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
        </section>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

            <section class="feedbacks">
                <div class="container">
                    <div class="card mb-5">
                        <div class="card-header">
                            Marcelle Del Mando Appolario
                        </div>
                        <div class="card-body">
                            <figure>
                                <blockquote class="blockquote">
                                    <p>"A Jacque é uma pessoa maravilhosa e uma profissional extremamente competente,
                                        delicada, doce.
                                        Atualmente faço Drenagem Linfática com ela e tem sido bem eficaz contra o meu
                                        inchaço nas pernas. Super recomendo!!!"</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Marcelle Del Mando Appolario <cite title="Source Title">Feedback no Google</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-header">
                            Julia Rebuci
                        </div>
                        <div class="card-body">
                            <figure>
                                <blockquote class="blockquote">
                                    <p>"A Jacque é uma profissional e pessoa maravilhosa! Eu saio do espaço muito mais
                                        leve,
                                        com a certeza de que o melhor investimento é o auto cuidado, ainda mais nas mãos
                                        da Jacque! Indico de olhos fechado qualquer procedimento com ela!"</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Julia Rebuci <cite title="Source Title">Feedback no Google</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-header">
                            Larissa Rosendo
                        </div>
                        <div class="card-body">
                            <figure>
                                <blockquote class="blockquote">
                                    <p>"Jacqueline é uma profissional excepcional, faço a sobrancelhas com ela e é a
                                        melhor que eu já fiz, sem dúvidas.
                                        Sem contar toda a atenção, produtos de qualidade, ambiente lindo organizado.
                                        Realizar os procedimentos com a Jacque é um momento de terapia. Recomendo de
                                        olhos fechados!"</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Larissa Rosendo <cite title="Source Title">Feedback no Google</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>

</div>

{% endmacro %}