{% extends 'layout.html' %}

{% block content %}

<div class="container mt-5 p-5">
    <form name="register" class="form" method="POST" action="{{ url_for('pages.register') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.birth_date.label(class="form-label") }}
            {{ form.birth_date(class="form-control") }}
            {% if form.birth_date.errors %}
                {% for error in form.birth_date.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>
</div>

{% endblock %}